@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import "swiper/css";
@import "swiper/css/effect-coverflow";

html,
body {
  letter-spacing: -0.025em;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  background-color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

body {
  padding-left: 13rem;
  padding-right: 13rem;
}

@media (max-width: 1200px) {
  body {
    padding-left: 3.25rem;
    padding-right: 3.25rem;
  }
}

@media (max-width: 768px) {
  body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 639px) {
  .rservicehero {
    font-size: 3rem;
    line-height: 1;
  }
}

@media (max-width: 379px) {
  .rservicehero {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.responsive-height {
  height: 600px;
}

@media (min-width: 210px) {
  .responsive-height {
    height: 450px;
  }
}

@media (min-height: 310px) {
  .responsive-height {
    height: 550px;
  }
}

@media (min-width: 390px) {
  .responsive-height {
    height: 610px;
  }
}

@media (min-width: 510px) {
  .responsive-height {
    height: 800px;
  }
}

@media (min-width: 640px) {
  .responsive-height {
    height: 600px;
  }
}

/* Medium screens */
@media (min-width: 768px) {
  .responsive-height {
    height: 650px;
  }
}

/* Large screens */
@media (min-width: 1024px) {
  .responsive-height {
    height: 550px;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  background-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
  .animate-marquee-infinite {
    animation: marquee 20s linear infinite;
  }
}

/* .bg-gradient-to-b {
  background: -moz-linear-gradient(to bottom, white, #6d6c6d);
  background: -webkit-linear-gradient(to bottom, white, #6d6c6d);
  background: linear-gradient(to bottom, white, #6d6c6d);
} */

.bg-clip-text {
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
}

.absolute {
  position: absolute;
}

.bg-gradient-to-r {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0) 0%,
    rgba(143, 143, 143, 0.67) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.conic-gradient {
  background: conic-gradient(from 90deg, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 50%),
    radial-gradient(rgba(200, 200, 200, 0.1) 0%, transparent 80%);
}

.rotate {
  transform: rotate(-10deg);
}

.rbranding-animation {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.coil {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
